<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Symptom Diagnoser</title>
    <link rel="stylesheet" href="styles/universal.css">
    <link rel="stylesheet" href="styles/main.css" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.4/dist/kute.min.js" integrity="sha256-ekq8UIBrOC1lgaJmRRV/c50s5Hy/EBKjBD/7nM9dvp0=" crossorigin="anonymous"></script>   -->
    <script src="./scripts/kute.min.js"></script>
  </head>
  <body>