<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Symptom Diagnoser</title>
    <!-- CSS -->
    <link rel="stylesheet" href="styles/universal.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <!-- KUTE.js -->
    <script src="./scripts/kute.min.js"></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/d01381783e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body></body>
</html>
