<nav class="navbar sticky">
    <div class="name-div">
      <span class="name">Symptom Diagnoser</span>
    </div>
    <div class="about-div">
      <a href="/help" class="help">HELP</a>
      <a href="/about" class="about">ABOUT</a>
    </div>
  </nav>