<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result - Symptom Diagnoser</title>
  <!-- <link rel="stylesheet" href="./public/styles/main.css"> -->
  <link rel="stylesheet" href="styles/result.css">
</head>
<body>