<%- include('partials/about-header.ejs') %>
<script
  src="https://kit.fontawesome.com/d01381783e.js"
  crossorigin="anonymous"
></script>
<div class="background">
  <%- include('svg.ejs') %>
  <div class="background-blur">
    <nav class="navbar sticky">
      <div class="name-div">
        <span class="name">ABOUT</span>
      </div>
      <div class="about-div">
        <a href="/" class="home">HOME</a>
        <a href="/help" class="help">HELP</a>
      </div>
    </nav>

    <div class="grid">
      <div class="one heading"><h1><a href="/" class="heading-link">Symptom Diagnoser</a></h1></div>
      <div class="two social-links">
        <div class="author-div">
          <p class="author">by Guru Saran M</p>
        </div>
        <div class="links">
          <a href="https://www.linkedin.com/in/guru-saran-m-2b6357251"
            ><i class="fa-brands fa-linkedin linkedin"></i
          ></a>
          <a href="https://github.com/gurusaranm0025/symptom-diagnoser"
            ><i class="fa-brands fa-github github"></i
          ></a>
        </div>
      </div>
      <div class="three about-info">
        <ul class="info-list">
          <li>
            This project name is Symptom Diagnoser (Web Appliaction), as the
            name suggests it
            <span class="highlight"
              >predicts and dignoses the disease and gives information</span
            >
            like deatils about the diasease, precutions for the disease and
            severeity of the symptoms on the day to day life.
          </li>
          <li>
            <br />And this project
            <span class="highlight"
              >harnesses the power of machine learning</span
            >, by using three different classification algorithm (SVM, Navie
            Bayes, Random Forest), we are increasing the accuracy of the
            project, even if one model predicts wrong, remaining two will
            provide best result.
          </li>
          <li>
            <br />
            Designed to empower individuals in understanding their health
            conditions, our app takes a user's reported symptoms as input and
            utilizes a sophisticated machine learning model to offer potential
            diagnoses and recommendations. By bridging the gap between
            technology and healthcare, our app serves as a reliable first step
            for users seeking preliminary information about their symptoms.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/blobAnim.js"></script>
<%- include('partials/footer.ejs') %>
