<%- include('partials/help-header.ejs') %>

<div class="background">
  <%- include('svg.ejs') %>
  <div class="background-blur">
    <nav class="navbar sticky">
      <div class="name-div">
        <span class="name">Symptom Diagnoser</span>
      </div>
      <div class="about-div">
        <a href="/" class="home">HOME</a>
        <a href="/about" class="about">ABOUT</a>
      </div>
    </nav>

    <div class="docs">
      <div>
        <h2>FAQ (Frequently Asked Questions)</h2>
        <h3>1. How to get predictions?</h3>
        <div>
          <ul>
            <li>
              Enter your symptoms in a comma (",") separated manner. <br />
              <span class="highlight">Example:</span> Itching, Skin Rash, Nodal
              Skin Eruptions
            </li>
            <li>
              Then press "Enter" to give these inputs as tags, which enables the
              user to easily remove the symptoms if they want to.
            </li>
            <li>
              Then press the "Submit" button which will give you the result or
              prediction for your symptoms.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/scripts/blobAnim.js"></script>

    <%- include('partials/footer.ejs') %>
  </div>
</div>
