<%- include('partials/help-header.ejs') %>

<nav class="navbar sticky">
  <div class="name-div">
    <span class="name">Symptom Diagnoser</span>
  </div>
  <div class="about-div">
    <a href="/" class="home">HOME</a>
    <a href="/about" class="about">ABOUT</a>
  </div>
</nav>

<div class="docs">
  <p>
    Enter your symptoms in a comma "," seperated manner. <br><b>Example:</b> Itching, Skin
    Rash, Nodal Skin Eruptions, etc.
  </p>

  <h4 class="limitations-heading">Limitations:</h4>
  <p>
    Right now it can only show predictions for the following symptoms:
  </p>
  
  <div class="symptoms-list-grid">
    <ul class="grid-item">
      <% if (locals.firstHalf) { %>
        <% firstHalf.forEach(element => { %>
          <li><%= element %></li>
        <% }); %>
      <% } %>
    </ul>
    <ul class="grid-item">
      <% if (locals.secondHalf) { %>
        <% secondHalf.forEach(element => { %>
          <li><%= element %></li>
        <% }); %>
      <% } %>  
    </ul>
  </div>
</div>

<%- include('partials/footer.ejs') %>
