<%- include('partials/header.ejs') %>

  <!-- New Code -->
  <div class="background">
    <%- include('svg.ejs') %>

      <div class="background-blur">
        <!-- navbar -->
        <nav class="navbar sticky">
          <div class="name-div">
            <span class="name">Symptom Diagnoser</span>
          </div>
          <div class="about-div">
            <a href="/help" class="help">HELP</a>
            <a href="/about" class="about">ABOUT</a>
          </div>
        </nav>
        <!-- body-grid -->
        <div class="body-div">
          <!-- form-div -->
          <div class="form-div">

            <div class="parent-tags">
              <label class="tags-heading" for="symptoms">Symptoms</label>
              <div class="wrapper-tags">
                <input type="text" placeholder="Enter your symptoms here..." name="symptoms" id="symptoms"
                  class="input-tag" />
              </div>
              <span class="tags-length">0 Tags</span>
              <form action="/predict" method="post">
                <button type="submit" value="hi" name="btn" class="submit-btn">Submit</button>
              </form>
            </div>
          </div>

          <!-- abstract-div -->
          <div class="abstract">

          </div>

          <!-- result -->
          <div class="reslt-box">
            
          </div>
        </div>
      </div>
  </div>

  <script src="scripts/blobAnim.js"></script>
  <script src="scripts/indexTags.js"></script>

  <%- include('partials/footer.ejs') %>