<div class="blob1-div">
  <svg
    id="visual"
    class="blob-motion"
    viewBox="0 0 900 600"
    width="900"
    height="600"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
  >
    <!-- blob1 -->
    <path
      id="blob1"
      transform="translate(466.163248265583 266.2645917920303)"
      d="M106.3 -172.4C144 -162.4 185 -146.5 208.9 -116.7C232.7 -87 239.3 -43.5 240.6 0.7C241.9 45 237.9 90 216.1 123.3C194.4 156.7 154.9 178.4 116 184C77 189.6 38.5 179.2 -1.8 182.4C-42.2 185.5 -84.3 202.3 -115.2 192C-146.1 181.7 -165.7 144.4 -178.6 107.9C-191.6 71.3 -197.8 35.7 -204.8 -4.1C-211.9 -43.8 -219.8 -87.7 -203.8 -118.7C-187.7 -149.7 -147.6 -168 -109.6 -177.7C-71.7 -187.5 -35.8 -188.7 -0.8 -187.4C34.3 -186.1 68.7 -182.3 106.3 -172.4"
      fill="#007C8F"
    ></path>
    <!-- blob2 -->
    <path
      id="blob2"
      transform="translate(444.41974622191765 267.9332813589465)"
      style="visibility: hidden"
      d="M104.3 -170.2C143.3 -158.2 188.6 -146.6 216.2 -118.3C243.9 -90 253.9 -45 247.4 -3.8C241 37.5 217.9 75 194.1 109.9C170.2 144.9 145.6 177.2 113.1 192.5C80.7 207.7 40.3 205.9 5.8 195.8C-28.7 185.7 -57.3 167.3 -81.7 147.4C-106.1 127.4 -126.1 105.9 -141.3 81.1C-156.4 56.3 -166.7 28.1 -173 -3.6C-179.2 -35.3 -181.4 -70.7 -170.4 -102.7C-159.4 -134.8 -135.2 -163.5 -104.6 -180.3C-74 -197.2 -37 -202.1 -2.2 -198.3C32.7 -194.6 65.3 -182.2 104.3 -170.2"
      fill="#007C8F"
    ></path>
  </svg>
</div>

<div class="blob2-div">
  <svg
    id="visual"
    viewBox="0 0 960 540"
    width="960"
    height="540"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
  >
    <!-- outline-blob1 -->
    <path
      id="outline-blob1"
      transform="translate(466.163248265583 266.2645917920303)"
      d="M106.3 -172.4C144 -162.4 185 -146.5 208.9 -116.7C232.7 -87 239.3 -43.5 240.6 0.7C241.9 45 237.9 90 216.1 123.3C194.4 156.7 154.9 178.4 116 184C77 189.6 38.5 179.2 -1.8 182.4C-42.2 185.5 -84.3 202.3 -115.2 192C-146.1 181.7 -165.7 144.4 -178.6 107.9C-191.6 71.3 -197.8 35.7 -204.8 -4.1C-211.9 -43.8 -219.8 -87.7 -203.8 -118.7C-187.7 -149.7 -147.6 -168 -109.6 -177.7C-71.7 -187.5 -35.8 -188.7 -0.8 -187.4C34.3 -186.1 68.7 -182.3 106.3 -172.4"
      fill="none"
      stroke="#007C8F"
      stroke-width="6"
    ></path>
    <!-- outline-blob2 -->
    <path
      id="outline-blob2"
      style="visibility: hidden"
      transform="translate(444.41974622191765 267.9332813589465)"
      d="M104.3 -170.2C143.3 -158.2 188.6 -146.6 216.2 -118.3C243.9 -90 253.9 -45 247.4 -3.8C241 37.5 217.9 75 194.1 109.9C170.2 144.9 145.6 177.2 113.1 192.5C80.7 207.7 40.3 205.9 5.8 195.8C-28.7 185.7 -57.3 167.3 -81.7 147.4C-106.1 127.4 -126.1 105.9 -141.3 81.1C-156.4 56.3 -166.7 28.1 -173 -3.6C-179.2 -35.3 -181.4 -70.7 -170.4 -102.7C-159.4 -134.8 -135.2 -163.5 -104.6 -180.3C-74 -197.2 -37 -202.1 -2.2 -198.3C32.7 -194.6 65.3 -182.2 104.3 -170.2"
      fill="none"
      stroke="#007C8F"
      stroke-width="6"
    ></path>
  </svg>
</div>
