*{
  color: #131b23ff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 20vh), 80vh;
  gap: 15px;
  height: 100%;
  margin: 50px 20px;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1/2;
  display: flex;
  justify-content: start;
  align-items: end;
}

.two {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-bottom: 40px;
}

.three{
  grid-column: 1/3;
  grid-row: 2/3;
}

.heading {
  font-family: 'general-sans-medium', sans-serif;
  font-size: 2rem;
}

.heading-link {
  color: #18435aff;
  text-decoration: none;
  transition: all .3s ease;
}

.heading-link:hover {
  color: #007c8fff;
}

.author {
  margin-bottom: 25px;
  display: block;
  width: 100%;
  font-size: 2rem;
}

.social-links {
  font-size: 1.5rem;
}

.links {
  display: flex;
  justify-content: end;
  gap: 50px;
}

.github, .linkedin {
  font-size: 1.75rem;
  fill: #18435aff;
  text-decoration: none;
  transition: all .3s ease;
}

.github:hover, .linkedin:hover {
  fill: #007c8fff;
}

.about-info {
  font-size: 1.25rem;
}

.highlight {
  color: #18435aff;
  font-family: 'general-sans-semibold', sans-serif;
}

ul {
  list-style-type: none;
  width: 80ch;
  margin: 0;
}