@font-face {
  font-family: "general-sans";
  src: url(/fonts/GeneralSans-Regular.ttf);
}

@font-face {
  font-family: "general-sans-semibold";
  src: url(/fonts/GeneralSans-Semibold.ttf);
}

@font-face {
  font-family: "general-sans-medium";
  src: url(/fonts/GeneralSans-Medium.ttf);
}

*{
  font-family: 'general-sans', sans-serif;
  line-height: 2;
}

.docs {
  margin: 70px 50px;
  font-size: 1.25rem;
  color: #131b23ff;
  display: flex;
  justify-content: center;
}

.docs>ul {
  list-style:circle;
  width: 70ch;
  margin: 0;
  padding: 0;
}

li {
  margin: 20px;
}

b {
  font-family: 'general-sans-semibold', sans-serif;
  font-size: 1.5rem;
}

.highlight {
  color: #18435aff;
  font-family: 'general-sans-semibold', sans-serif;
}
