.docs {
  margin: 70px 50px;
  font-size: 1.25rem;
}

b {
  font-family: 'general-sans-medium', sans-serif;
}

.limitations-heading {
  font-size: 1.5rem;
  font-family: 'general-sans-medium', sans-serif;
}

.symptoms-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}