.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70%;
  gap: 10px;
  height: 100%;
  margin: 0 20px;
}

.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  color: red;
  font-family: 'general-sans-semibold', sans-serif;
  font-size: 2.5rem;
}
.disease-name {
  font-family: 'general-sans-semibold', sans-serif;
  font-size: 3rem;
}

.description {
  display: block;
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: 1.1px;
}

.extra-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.precautions, .severeity {
  font-family: 'general-sans-semibold',sans-serif;
  font-size: 3rem;
}

ul {
  margin: 0;
  list-style-type:disc;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
