@font-face {
  font-family: "general-sans";
  src: url(/fonts/GeneralSans-Regular.ttf);
}

@font-face {
  font-family: "general-sans-semibold";
  src: url(/fonts/GeneralSans-Semibold.ttf);
}

@font-face {
  font-family: "general-sans-medium";
  src: url(/fonts/GeneralSans-Medium.ttf);
}

html,
body {
  font-family: "general-sans", sans-serif;
  height: 100%;
  background-color: #fcedf8;
  /* background-color: #f9e1d7; */
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 90vw;
  z-index: 100;
} */


nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 25px 20px 10px 20px;
  height: 5%;
}

.name-div {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
}

.name {
  font-family: "general-sans-semibold", sans-serif;
  padding: 0 10px;
  color: #831709;
}

.about-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.about, .help, .home {
  font-family: "general-sans-medium", sans-serif;
  text-decoration: none;
  color: #831709;
  padding-right: 20px;
  font-size: large;
  letter-spacing: 1.5px;
}
